{% verbatim %}
<section id='update'>
    <div class='container'>
        <div class='row-fluid'>
            <div class='span8'>
                <div class='row-fluid'>
                    <div class='span12'>
                        <form>
                            <div class='row-fluid'>
                                <textarea class='span12' rows='2' ng-model='message.text' placeholder='Update .....'>
                                </textarea>

                                <div class='btn btn-primary' ng-click='postToFeed()'>Update</div>
                                <div class='btn btn-primary' ng-click='postForNetowrking()'>For Networking</div>
                                <div class='btn btn-primary' ng-click='postForLeisure()'>For Leisure</div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class='row-fluid'>
                    <div class="span12">
                        <div class="well">
                            <div class='btn btn-primary'>Near By</div>
                            <div class='btn btn-primary'>Followers</div>
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="thumbnails">
                        <div class="span6" ng-repeat='item in feed'>
                            <div class="thumbnail">
                                <img src="{{ getURL(media_url, item.user.picture) }}">

                                <div class="caption">
                                    <h3>{{ item.text }}</h3>

                                    <p>{{ item.user.username }}</p>

                                    <p>
                                        <a href="#" class="btn btn-primary">Follow</a>
                                        <a href="#" class="btn btn-danger">Message</a>

                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endverbatim %}