{% verbatim %}


<!-- Section Block (Contact) -->
<section id="contact" class="section-block">
    <div class="container">
        <!-- Contact Form -->
        <div class="row">
            <div class="span12">
                <form id="contact-form">
                    <div class="controls controls-row row">
                        <div class="span12">
                            <textarea placeholder="Message" ng-model="message.text" class="required input-block-level"
                                      rows="3"></textarea>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button class="btn btn-primary" ng-click='postToFeed()'>Submit</button>
                        <div class="ajax-loader"></div>
                    </div>
                </form>
            </div>
        </div>
        <!-- End Contact Form -->
</section>

<!-- Section Block (Portfolio) -->
<section id="work" class="section-block">
    <!-- Portfolio -->
    <div class="portfolio clearfix">
        <div class="container">
            <div class="row">
                <div class="span8">
                    <!-- Filter -->
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="filter">
                                <ul>
                                    <li class='active'><a href="#" ng-click='getFeed()'>Nearby</a></li>
                                    <li><a href="#" ng-click='getFollowerFeed()'>Followers</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- End Filter -->

                    <!-- Items -->
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="items-wrap clearfix">
                                <div class="item illustration feed" ng-repeat='item in feed'>
                                    <div class="item-link">
                                        <div class="overlay"></div>
                                        <img src="{{ getURL(media_url, item.user.picture) }}">
                                    </div>

                                    <div class="black">
                                        {{ item.text }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Items -->
                </div>
            </div>


        </div>
    </div>
    <!-- End Portfolio -->
</section>
<!-- End Section Block (Portfolio) -->

{% endverbatim %}