{% verbatim %}
<div class='main-content'>
    <carousel interval='cInterval'>
        <slide ng-repeat='profile in nearby'>
            <div class='container-fluid'>
                <div class='row-fluid'>

                    <div class="span1">

                    </div>

                    <div class='span7'>
                        <div class="thumbnail opaque">
                            <img src="http://placehold.it/360x480"/>

                            <div class="caption">
                                <div class="row-fluid">
                                    <div class="span18">
                                        <div>
                                            <h5>{{ profile.username }}</h5>

                                            <p>28, F, Florida</p>
                                        </div>
                                    </div>
                                    <div class="span6" style="text-align: right;">
                                        <a class="btn disabled btn-purple">
                                            <i class="icon-pushpin"></i>
                                        </a>
                                        <a class="btn btn-danger disabled">
                                            <i class="icon-ban-circle"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class='span15'>
                        <div class='row-fluid'>
                            <div class="span24">
                                <div class='thumbnail opaque feed-box'>
                                    <table class="table table-striped" style='margin-bottom: 0px !important;'>
                                        <tbody>
                                        <tr ng-repeat="single in profile.feed | limitTo:3">
                                            <td class='span12'>
                                                <div class="row-fluid">
                                                    <div class="span24">
                                                        <strong>Let's go</strong> {{ single.text }}
                                                    </div>
                                                </div>
                                                <div class="row-fluid">
                                                    <div>
                                                        <form ng-submit="postReply(single.id, reply)">
                                                            <input type="text" class="reply span24" ng-model="reply"
                                                               placeholder="reply to this idea and press enter to submit">
                                                            <input type="submit" style="display: none">
                                                        </form>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class='spacer'>
                        </div>

                        <div class="row-fluid">
                            <div class='span24'>
                                <div class='well opaque feed-box'>
                                    <div class="row-fluid">
                                        <div class="span24">
                                            <h5>What are you doing currently</h5>

                                            <p>currently pursuing masters at NYU</p>
                                            <h5>What is your idea of fun?</h5>

                                            <p>xBox 360</p>
                                            <h5>What are you interested in?</h5>

                                            <p>sky diving</p>
                                            <h5>What are you interested in?</h5>

                                            <p>sky diving</p>
                                            <h5>What are you doing currently</h5>

                                            <p>currently pursuing masters at NYU</p>
                                            <h5>What is your idea of fun?</h5>

                                            <p>xBox 360</p>
                                            <h5>What are you interested in?</h5>

                                            <p>sky diving</p>
                                            <h5>What are you interested in?</h5>

                                            <p>sky diving</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="span1"></div>
                </div>
            </div>
        </slide>
    </carousel>
</div>
{% endverbatim %}