{% verbatim %}
<div class="main-content">
    <div class='container-fluid'>
        <div class="row-fluid">
            <div class='offset1 span22' style="margin-top: 10px;">
                <div class=row-fluid ng-repeat="thread in threads">
                    <a href="#/messages/{{ thread.id }}/">
                        <div class='span24 well opaque'>
                        <div class="row-fluid">
                            <div class='span2'>
                            <img class="img-polaroid" src="http://placeHold.it/75x100"/>
                        </div>
                        <div class='span18'>
                            <h5>{{ thread.from_user.username }}</h5>
                            <p style="font-size: 12px; line-height: 14px">
                                29 / F <br> Networking
                            </p>
                            <p><strong>{{ thread.subject }}</strong></p>
                        </div>
                        </div>
                    </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endverbatim %}