{% verbatim %}
<div class="main-content">
    <div class='row-fluid'>
        <div class="offset1 span22" style="margin-top: 10px;">
            <div class="row-fluid" ng-repeat="message in thread.messages">

                <div class='span24 opaque message-box'>
                    <div class="row-fluid">
                        <div class="span1">
                            <img class="img-polaroid" src="http://placeHold.it/36x48"/>
                        </div>
                        <div class="span23" style="padding-left: 10px;">
                            <div style="font-size: 12px; color: #808080;">
                                {{ getMsgUser(message.from_user).username }}
                            </div>
                            {{ message.text }}
                            <div style="font-size: 10px; color: #808080;">
                                {{ message.added_on|date:'medium' }}
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <div class='row-fluid'>
                <div class='span24 opaque message-box'>
                    <form ng-submit="postMsg(msgText)">
                        <input type="text" class="reply span24" ng-model="msgText"
                               placeholder="reply to this idea and press enter to submit">
                        <input type="submit" style="display: none">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endverbatim %}