{% verbatim %}
<div class='main-content'>
    <div class='container-fluid'>
        <div class='row-fluid'>

            <div class="span1">

            </div>

            <div class='span7'>
                <div class="thumbnail opaque">
                    <div class="image-box">
                        <img ng-src="{{ fullMediaPath(user.picture) }}" width="348">
                        <span class="upload-caption upload-caption-full">
                            <form id="foo" ng-upload method="POST" action="/upload-profile-image/?multi=yes">
                                <p>
                                    <label>Select a file to upload:</label>
                                    <input type="file" name="file"/>
                                </p>

                                <p>
                                    <input upload-submit="bar(content)" type="submit" class="btn" value="Upload"/>
                                    <br/>
                                </p>
                            </form>
                            <div class="alert alert-info">
                                Server Response:
                                <div ng-bind-html-unsafe="uploadResponse">
                                </div>
                            </div>
                        </span>
                    </div>

                    <div class="caption">
                        <div class="row-fluid">
                            <div class="span18">
                                <div ng-show="showProfile">
                                    <h5>{{ user.username }}</h5>

                                    <p>{{ getAge(user.birthday) }}</p>
                                </div>
                                <div ng-hide="showProfile">
                                    <form ng-submit="saveProfile()">
                                        <input type="date" ng-model="user.birthday">
                                        <input type="submit" style="display: none">
                                    </form>
                                </div>
                            </div>
                            <div class="span6" style="text-align: right;">
                                <div ng-show="showProfile">
                                    <a class="btn disabled btn-purple" ng-click="showEditProfile(showProfile)">
                                        <i class="icon-edit"></i>
                                    </a>
                                </div>
                                <div ng-hide="showProfile">
                                    <a class="btn disabled btn-purple" ng-click="saveProfile(showProfile)">
                                        <i class="icon-save"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class='span15'>
                <div class='row-fluid'>
                    <div class="span24">
                        <div class='thumbnail opaque feed-box'>
                            <table class="table table-striped">
                                <tbody>
                                <tr ng-repeat="single in user.feed">
                                    <td class='span23'>
                                        <strong>Let's go </strong>{{ single.text }}
                                    </td>
                                    <td class='span1'>
                                        <a class="btn disabled btn-danger" ng-click="deleteFeed(single)">
                                            <i class="icon-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class='spacer'>
                </div>

                <div class="row-fluid">
                    <div class='span24'>
                        <div class='well opaque feed-box'>
                            <div class="row-fluid">
                                <div class="span22">
                                    <div ng-show="showQuestions">
                                        <h5>What are you doing currently</h5>

                                        <p>currently pursuing masters at NYU</p>
                                        <h5>What is your idea of fun?</h5>

                                        <p>xBox 360</p>
                                        <h5>What are you interested in?</h5>

                                        <p>sky diving</p>
                                        <h5>What are you interested in?</h5>

                                        <p>sky diving</p>
                                        <h5>What are you doing currently</h5>

                                        <p>currently pursuing masters at NYU</p>
                                        <h5>What is your idea of fun?</h5>

                                        <p>xBox 360</p>
                                        <h5>What are you interested in?</h5>

                                        <p>sky diving</p>
                                        <h5>What are you interested in?</h5>

                                        <p>sky diving</p>
                                    </div>
                                    <div ng-hide="showQuestions">
                                        <h5>What are you doing currently</h5>
                                        <input type="text" ng-model="user.currently_doing" class="span24">

                                        <h5>Your friends would describe you as?</h5>
                                        <input type="text" ng-model="user.good_at" class="span24">

                                        <h5>What are you here for?</h5>
                                        <input type="text" ng-model="user.here_for" class="span24">
                                    </div>
                                </div>
                                <div class="span2">
                                    <div ng-show="showQuestions">
                                        <a class="btn disabled btn-purple" ng-click="showEditQuestions(showQuestions)">
                                            <i class="icon-edit"></i>
                                        </a>
                                    </div>
                                    <div ng-hide="showQuestions">
                                        <a class="btn disabled btn-purple" ng-click="saveQuestions(showQuestions)">
                                            <i class="icon-save"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="span1"></div>
        </div>
    </div>
</div>
{% endverbatim %}