{% verbatim %}
<!-- Aside Block -->
<aside class="aside-block" data-background="{{ STATIC_URL }}app/demo/aside/manhattan.jpg">
    <div class="aside-overlay"></div>
    <div class="aside-container">
        <div class="aside-content">
            <div class="container">
                <div class="row">
                    <div class="span6">
                        <div class="tweet-box" style='margin-bottom: 20px;'>
                            <div class="tweet-icon"><i class="zocial-twitter"></i></div>
                            <div>
                                A quick brown fox jumps over a lazy dog!
                            </div>
                        </div>
                    </div>
                    <div class="span6">
                        <div class="tweet-box" style='margin-bottom: 20px;'>
                            <div class="tweet-icon"><i class="zocial-twitter"></i></div>
                            <div>
                                A quick brown fox jumps over a lazy dog!
                            </div>
                        </div>
                    </div>
                    <div class="span6">
                        <div class="tweet-box" style='margin-bottom: 20px;'>
                            <div class="tweet-icon"><i class="zocial-twitter"></i></div>
                            <div>
                                A quick brown fox jumps over a lazy dog!
                            </div>
                        </div>
                    </div>
                    <div class="span6">
                        <div class="tweet-box" style='margin-bottom: 20px;'>
                            <div class="tweet-icon"><i class="zocial-twitter"></i></div>
                            <div>
                                A quick brown fox jumps over a lazy dog!
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</aside>
<!-- End Aside Block -->
{% endverbatim %}