<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie lt-ie9 lt-ie8 lt-ie7 ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie lt-ie9 lt-ie8 ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie lt-ie9 ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html ng-app='app'> <!--<![endif]-->

<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- @font-face fonts -->
    <link rel="stylesheet" href="{{ STATIC_URL }}app/fonts/nexa/stylesheet.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}app/icons/glyphicons/style.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}app/icons/zocial/zocial.css">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{ STATIC_URL }}app/css/bootstrap.min.css">

    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="{{ STATIC_URL }}app/css/style.css">

    <!-- Plugin Stylesheet -->
    <link rel="stylesheet" href="{{ STATIC_URL }}app/plugins/magnificpopup/jquery.magnific-popup.css">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- jQuery & Bootstrap -->
{% comment %}    <script src="{{ STATIC_URL }}app/js/jquery-1.9.1.min.js"></script>
    <script src="{{ STATIC_URL }}app/js/bootstrap.min.js"></script>{% endcomment %}

    <!-- Plugins -->

{% comment %}    <script src="{{ STATIC_URL }}app/plugins/fitvids/jquery.fitvids.min.js"></script>
    <script src="{{ STATIC_URL }}app/plugins/isotope/jquery.isotope.min.js"></script>
    <script src="{{ STATIC_URL }}app/plugins/magnificpopup/jquery.magnific-popup.min.js"></script>

    <!-- Contact Form -->
    <script src="{{ STATIC_URL }}app/plugins/contactform/jquery.form.min.js"></script>
    <script src="{{ STATIC_URL }}app/plugins/contactform/jquery.validate.min.js"></script>
    <script src="{{ STATIC_URL }}app/js/recaptcha_ajax.js"></script>

    <!-- Maps, Tweets, Flickr -->
    <script src="{{ STATIC_URL }}app/plugins/map/gmap3.min.js"></script>
    <script src="{{ STATIC_URL }}app/plugins/jflickrfeed/jflickrfeed.min.js"></script>
    <script src="{{ STATIC_URL }}app/plugins/tweet/jquery.tweet.min.js"></script>

    <!-- Cycle Plugin -->
    <script src="{{ STATIC_URL }}app/plugins/cycle2/jquery.cycle2.min.js"></script>
    <script src="{{ STATIC_URL }}app/plugins/cycle2/jquery.cycle2.swipe.min.js"></script>

    <!-- Template Script -->
    <script src="{{ STATIC_URL }}app/js/leviate.plugins.js"></script>
    <script src="{{ STATIC_URL }}app/js/leviate.parallax.js"></script>
    <script src="{{ STATIC_URL }}app/js/leviate.js"></script>{% endcomment %}

    <!-- AngularJS and App Scripts -->

    <script src='{{ STATIC_URL }}app/js/angular/angular.min.js'></script>
    <script src='{{ STATIC_URL }}app/js/angular/angular-resource.min.js'></script>
    <script src='{{ STATIC_URL }}ng/app.js'></script>
    <script src='{{ STATIC_URL }}ng/controllers.js'></script>

    <title>SpringCandy</title>

</head>

<body>

<!-- Fullscreen Container -->
<div>
    <header id="zw-header" class="main-header">
        <div class="main-header-wrap clearfix">
            <nav id="zw-nav" class="nav">
                <ul>
                    <li><a href="/#/">Home</a></li>
                    <li><a href="/#/Messages">Messages</a></li>
                </ul>
            </nav>
        </div>
    </header>
</div>
<!-- End Fullscreen Container-->
<div ng-view>
</div>

<!-- Footer -->
<footer class="footer">
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="span12">
                    Copyright 2013. Leviate. All Rights Reserved.
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->

</body>

</html>