/* Sticky footer styles
-------------------------------------------------- */

html,
body {
    height: 100%;
    background: url('../img/bg.JPG') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
.wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -75px;
}

.push, .footer {
    height: 50px;
}

.footer {
    background-color: rgb(51,51,51);
    z-index: 100;
}