<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie lt-ie9 lt-ie8 lt-ie7 ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie lt-ie9 lt-ie8 ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie lt-ie9 ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->

<head>
<meta charset="utf-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<meta name="description" content="">
<meta name="author" content="">

<!-- @font-face fonts -->
<link rel="stylesheet" href="{{ STATIC_URL }}app/fonts/nexa/stylesheet.css">
<link rel="stylesheet" href="{{ STATIC_URL }}app/icons/glyphicons/style.css">
<link rel="stylesheet" href="{{ STATIC_URL }}app/icons/zocial/zocial.css">

<!-- Bootstrap -->
<link rel="stylesheet" href="{{ STATIC_URL }}app/css/bootstrap.min.css">

<!-- Main Stylesheet -->
<link rel="stylesheet" href="{{ STATIC_URL }}app/css/style.css">

<!-- Plugin Stylesheet -->
<link rel="stylesheet" href="{{ STATIC_URL }}app/plugins/magnificpopup/jquery.magnific-popup.css">

<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<title>Leviate - HTML5 One Page Parallax Template</title>

</head>

<body>

	<!-- Fullscreen Container -->
	<div class="fullscreen-table">
		<div class="fullscreen-row header">
			<header id="zw-header" class="main-header">
				<div class="main-header-wrap clearfix">
					<div class="brand">
						<a href="#">
							<img src="{{ STATIC_URL }}app/demo/logo.png" alt="Leviate">
						</a>
					</div>
					<nav id="zw-nav" class="nav">
						<ul>
							<li><a href="#about">About</a></li>
							<li><a href="#services">Services</a></li>
							<li><a href="#work">Work</a></li>
							<li><a href="#contact">Contact</a></li>
							<li><a href="blog.html">Blog</a></li>
							<li><a href="shortcodes.html">Shortcodes</a></li>
						</ul>
					</nav>
				</div>
			</header>
		</div>
		<div id="zw-slider" class="fullscreen-row slider">
			<div class="slider-block">
				<div class="cycle-slider">
					<div class="cycle-next"></div>
					<div class="cycle-prev"></div>

					<div class="slide-wrap">
						<div class="slide">
							<img src="{{ STATIC_URL }}app/demo/slider/louvre.jpg" alt="">
						</div>
						<div class="caption-box">
							<div class="caption">
								<span class="slide-text">We're Leviate.<br>Awesome and Creative.</span>
								<span class="slide-link"><a href="#about">Learn More</a></span>
							</div>
						</div>
					</div>
					<div class="slide-wrap">
						<div class="slide">
							<img src="{{ STATIC_URL }}app/demo/slider/london.jpg" alt="">
						</div>
						<div class="caption-box">
							<div class="caption">
								<span class="slide-text">Curious About Our Work?<br>Find Out More</span>
								<span class="slide-link"><a href="#work">View Our Work</a></span>
							</div>
						</div>
					</div>
					<div class="slide-wrap">
						<div class="slide">
							<img src="{{ STATIC_URL }}app/demo/slider/newyork.jpg" alt="">
						</div>
						<div class="caption-box">
							<div class="caption">
								<span class="slide-text">We're Friendly,<br>Let's Meet</span>
								<span class="slide-link"><a href="#contact">Contact Us</a></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Fullscreen Container-->


	<!-- Section Block (About Us) -->
	<section id="about" class="section-block">
		<h1 class="section-title">Who We Are. <small>Digital Enthusiasts. Creative People</small></h1>

		<div class="container">
			<!-- About Text -->
			<div class="row">
				<div class="span12">
					<p class="lead"><span class="dropcap">A</span>ward  winning digital agency based in the famous Avenue des Champs-Élysées in Paris, France. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
				</div>
			</div>
			<div class="row">
				<div class="span6">
					<h3>Facts About Us</h3>
					<ul class="check-list">
						<li>We do website development services</li>
						<li>We are awesome and creative</li>
						<li>We drink ten cups of coffee a day</li>
						<li>We are the best company in the world</li>
						<li>We love doing our job</li>
						<li>We always strive for customer satisfaction</li>
					</ul>
				</div>
				<div class="span6">
					<h3>Our Expertise</h3>

					<div class="skill">
						<h6 class="name">HTML5</h6>
						<div class="progress progress-info progress-striped progress-mini">
							<div class="bar" style="width: 20%"></div>
						</div>
					</div>

					<div class="skill">
						<h6 class="name">JavaScript</h6>
						<div class="progress progress-info progress-striped progress-mini">
							<div class="bar" style="width: 40%"></div>
						</div>
					</div>

					<div class="skill">
						<h6 class="name">CSS3</h6>
						<div class="progress progress-info progress-striped progress-mini">
							<div class="bar" style="width: 60%"></div>
						</div>
					</div>

					<div class="skill">
						<h6 class="name">Wordpress Development</h6>
						<div class="progress progress-info progress-striped progress-mini">
							<div class="bar" style="width: 80%"></div>
						</div>
					</div>
				</div>
			</div>
			<!-- End About Text -->
		</div>

	</section>
	<!-- End Section Block (About Us) -->


	<!-- Section Block (Team) -->
	<section id="about" class="section-block small">

		<h2 class="section-title">Meet The Team. <small>Without them, we're nothing</small></h2>

		<div class="container">

			<!-- Team -->
			<div class="row">
				<div class="span3">
					<div class="team">
						<div class="team-photo">
							<img src="{{ STATIC_URL }}app/img/lazy_team.png" data-original="{{ STATIC_URL }}app/demo/team/1.jpg" alt="">
						</div>
						<div class="team-info">
							<span class="name">Marcus van Basten</span>
							<span class="role">CEO</span>
						</div>
						<div class="team-text">
							Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
						</div>
					</div>
				</div>
				<div class="span3">
					<div class="team">
						<div class="team-photo">
							<img src="{{ STATIC_URL }}app/img/lazy_team.png" data-original="{{ STATIC_URL }}app/demo/team/2.jpg" alt="">
						</div>
						<div class="team-info">
							<span class="name">Lara McCarthy</span>
							<span class="role">Public Relation Officer</span>
						</div>
						<div class="team-text">
							Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
						</div>
					</div>
				</div>
				<div class="span3">
					<div class="team">
						<div class="team-photo">
							<img src="{{ STATIC_URL }}app/img/lazy_team.png" data-original="{{ STATIC_URL }}app/demo/team/3.jpg" alt="">
						</div>
						<div class="team-info">
							<span class="name">Oliver Sanchez</span>
							<span class="role">Creative Director</span>
						</div>
						<div class="team-text">
							Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
						</div>
					</div>
				</div>
				<div class="span3">
					<div class="team">
						<div class="team-photo">
							<img src="{{ STATIC_URL }}app/img/lazy_team.png" data-original="{{ STATIC_URL }}app/demo/team/4.jpg" alt="">
						</div>
						<div class="team-info">
							<span class="name">Jeanette Crow</span>
							<span class="role">Lead Designer</span>
						</div>
						<div class="team-text">
							Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
						</div>
					</div>
				</div>
			</div>
			<!-- End Team -->

			<div class="row">
				<div class="span12">
					<div class="cta">
						<div class="cta-inner">
							<div class="col-text">
								<h3 class="headline">Need us to help you on your project?</h3>
								<p>Request a quote describing your project requirements now to get estimates</p>
							</div>
							<div class="col-btn">
								<a href="#" class="btn btn-large btn-danger">Request a Quote</a>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</section>
	<!-- End Section Block (Team) -->


	<!-- Aside Block -->
	<aside class="aside-block" data-background="{{ STATIC_URL }}app/demo/aside/metro.jpg">
		<div class="aside-overlay"></div>
		<div class="aside-container">
			<div class="aside-content">
				<div class="container">
					<div class="row">
						<div class="span12">
							<blockquote>
								<p><span>There are no secrets to success. It is the result of preparation, hard work, and learning from failure.</span></p>
								<small>Colin Powell</small>
							</blockquote>
						</div>
					</div>
				</div>
			</div>
		</div>
	</aside>
	<!-- End Aside Block -->


	<!-- Section Block (Services) -->
	<section id="services" class="section-block">
		<h1 class="section-title">Awesome Service. <small>See Below, You Might Be Interested!</small></h1>

		<div class="container">
			<div class="row">
				<div class="span12">
					<p class="lead"><span class="dropcap">L</span>orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
				</div>
			</div>

			<div class="row">
				<div class="span4">
					<div class="service">
						<div class="service-icon">
							<i class="icon-display"></i>
						</div>
						<h3 class="title">Web Development</h3>
						<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
						<a href="#" class="btn btn-danger">Learn More</a>
					</div>
				</div>
				<div class="span4">
					<div class="service">
						<div class="service-icon">
							<i class="icon-globe"></i>
						</div>
						<h3 class="title">Website SEO</h3>
						<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
						<a href="#" class="btn btn-danger">Learn More</a>
					</div>
				</div>
				<div class="span4">
					<div class="service">
						<div class="service-icon">
							<i class="icon-brush"></i>
						</div>
						<h3 class="title">Branding</h3>
						<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
						<a href="#" class="btn btn-danger">Learn More</a>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="span4">
					<div class="service">
						<div class="service-icon">
							<i class="zocial-wordpress"></i>
						</div>
						<h3 class="title">Wordpress Themes</h3>
						<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
						<a href="#" class="btn btn-danger">Learn More</a>
					</div>
				</div>
				<div class="span4">
					<div class="service">
						<div class="service-icon">
							<i class="icon-charts"></i>
						</div>
						<h3 class="title">Strategic Marketing</h3>
						<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
						<a href="#" class="btn btn-danger">Learn More</a>
					</div>
				</div>
				<div class="span4">
					<div class="service">
						<div class="service-icon">
							<i class="icon-cogwheels"></i>
						</div>
						<h3 class="title">Web Hosting</h3>
						<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
						<a href="#" class="btn btn-danger">Learn More</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Section Block (Services) -->

	<!-- Aside Block -->
	<aside class="aside-block" data-background="{{ STATIC_URL }}app/demo/aside/bigben.jpg">
		<div class="aside-overlay"></div>
		<div class="aside-container">
			<div class="aside-content">
				<div class="container">
					<div class="row">
						<div class="span12">
							<div class="aside-title">
								<span>Featured Video</span>
							</div>
							<div class="media">
								<iframe src="http://player.vimeo.com/video/62959319?title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;color=bb2323" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</aside>
	<!-- End Aside Block -->


	<!-- Section Block (Portfolio) -->
	<section id="work" class="section-block">
		<h1 class="section-title">We Are Proud. <small>See Below to See Why We're Proud</small></h1>

		<!-- Portfolio -->
		<div class="portfolio clearfix">
			<div class="container">

				<!-- Filter -->
				<div class="row">
					<div class="span12">
						<div class="filter" data-label="Show: ">
							<ul>
								<li class="active"><a href="#" data-filter="*">All</a></li>
								<li><a href="#" data-filter=".illustration">Illustration</a></li>
								<li><a href="#" data-filter=".web-design">Web Design</a></li>
								<li><a href="#" data-filter=".graphic-design">Graphic Design</a></li>
								<li><a href="#" data-filter=".photography">Photography</a></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- End Filter -->

				<!-- Items -->
				<div class="row">
					<div class="span12">
						<div class="items-wrap clearfix">
							<div class="item illustration">
								<a href="php/work/work.php?itemId=1" class="item-link">
									<div class="overlay"></div>
									<img src="{{ STATIC_URL }}app/demo/work/a.jpg" alt="">
								</a>
							</div>
							<div class="item illustration">
								<a href="php/work/work.php?itemId=2" class="item-link">
									<div class="overlay"></div>
									<img src="{{ STATIC_URL }}app/demo/work/b.jpg" alt="">
								</a>
							</div>
							<div class="item web-design">
								<a href="php/work/work.php?itemId=3" class="item-link">
									<div class="overlay"></div>
									<img src="{{ STATIC_URL }}app/demo/work/c.jpg" alt="">
								</a>
							</div>
							<div class="item graphic-design">
								<a href="php/work/work.php?itemId=4" class="item-link">
									<div class="overlay"></div>
									<img src="{{ STATIC_URL }}app/demo/work/d.jpg" alt="">
								</a>
							</div>
							<div class="item graphic-design">
								<a href="php/work/work.php?itemId=5" class="item-link">
									<div class="overlay"></div>
									<img src="{{ STATIC_URL }}app/demo/work/e.jpg" alt="">
								</a>
							</div>
							<div class="item web-design">
								<a href="php/work/work.php?itemId=6" class="item-link">
									<div class="overlay"></div>
									<img src="{{ STATIC_URL }}app/demo/work/f.jpg" alt="">
								</a>
							</div>
							<div class="item illustration">
								<a href="php/work/work.php?itemId=1" class="item-link">
									<div class="overlay"></div>
									<img src="{{ STATIC_URL }}app/demo/work/g.jpg" alt="">
								</a>
							</div>
							<div class="item photography">
								<a href="php/work/work.php?itemId=2" class="item-link">
									<div class="overlay"></div>
									<img src="{{ STATIC_URL }}app/demo/work/h.jpg" alt="">
								</a>
							</div>
							<div class="item web-design">
								<a href="php/work/work.php?itemId=3" class="item-link">
									<div class="overlay"></div>
									<img src="{{ STATIC_URL }}app/demo/work/i.jpg" alt="">
								</a>
							</div>
							<div class="item photography">
								<a href="php/work/work.php?itemId=4" class="item-link">
									<div class="overlay"></div>
									<img src="{{ STATIC_URL }}app/demo/work/j.jpg" alt="">
								</a>
							</div>
							<div class="item graphic-design">
								<a href="php/work/work.php?itemId=5" class="item-link">
									<div class="overlay"></div>
									<img src="{{ STATIC_URL }}app/demo/work/k.jpg" alt="">
								</a>
							</div>
							<div class="item illustration">
								<a href="php/work/work.php?itemId=6" class="item-link">
									<div class="overlay"></div>
									<img src="{{ STATIC_URL }}app/demo/work/l.jpg" alt="">
								</a>
							</div>
							<div class="item web-design">
								<a href="php/work/work.php?itemId=3" class="item-link">
									<div class="overlay"></div>
									<img src="{{ STATIC_URL }}app/demo/work/m.jpg" alt="">
								</a>
							</div>
						</div>
					</div>
				</div>
				<!-- End Items -->
			</div>
		</div>
		<!-- End Portfolio -->
	</section>
	<!-- End Section Block (Portfolio) -->

	<!-- Section Block (Clients) -->
	<section id="clients" class="section-block small">
		<h2 class="section-title">Our Beloved Clients.</h2>

		<div class="container">
			<div class="row">
				<div class="span12">

					<!-- Client -->
					<div class="clients">
						<ul>
							<li>
								<span class="client-wrap">
									<span class="client-logo">
										<a href="#">
											<img src="{{ STATIC_URL }}app/img/lazy_client.png" data-original="{{ STATIC_URL }}app/demo/clients/3o.png" alt="">
										</a>
									</span>
								</span>
							</li>
							<li>
								<span class="client-wrap">
									<span class="client-logo">
										<a href="#">
											<img src="{{ STATIC_URL }}app/img/lazy_client.png" data-original="{{ STATIC_URL }}app/demo/clients/ad.png" alt="">
										</a>
									</span>
								</span>
							</li>
							<li>
								<span class="client-wrap">
									<span class="client-logo">
										<a href="#">
											<img src="{{ STATIC_URL }}app/img/lazy_client.png" data-original="{{ STATIC_URL }}app/demo/clients/aj.png" alt="">
										</a>
									</span>
								</span>
							</li>
							<li>
								<span class="client-wrap">
									<span class="client-logo">
										<a href="#">
											<img src="{{ STATIC_URL }}app/img/lazy_client.png" data-original="{{ STATIC_URL }}app/demo/clients/cc.png" alt="">
										</a>
									</span>
								</span>
							</li>
							<li>
								<span class="client-wrap">
									<span class="client-logo">
										<a href="#">
											<img src="{{ STATIC_URL }}app/img/lazy_client.png" data-original="{{ STATIC_URL }}app/demo/clients/gr.png" alt="">
										</a>
									</span>
								</span>
							</li>
							<li>
								<span class="client-wrap">
									<span class="client-logo">
										<a href="#">
											<img src="{{ STATIC_URL }}app/img/lazy_client.png" data-original="{{ STATIC_URL }}app/demo/clients/pd.png" alt="">
										</a>
									</span>
								</span>
							</li>
							<li>
								<span class="client-wrap">
									<span class="client-logo">
										<a href="#">
											<img src="{{ STATIC_URL }}app/img/lazy_client.png" data-original="{{ STATIC_URL }}app/demo/clients/tf.png" alt="">
										</a>
									</span>
								</span>
							</li>
							<li>
								<span class="client-wrap">
									<span class="client-logo">
										<a href="#">
											<img src="{{ STATIC_URL }}app/img/lazy_client.png" data-original="{{ STATIC_URL }}app/demo/clients/vh.png" alt="">
										</a>
									</span>
								</span>
							</li>
						</ul>
					</div>
					<!-- End Client -->
				</div>
			</div>
		</div>
	</section>
	<!-- End Section Block (Clients) -->


	<!-- Aside Block -->
	<aside class="aside-block" data-background="{{ STATIC_URL }}app/demo/aside/copenhagen.jpg">
		<div class="aside-overlay"></div>
		<div class="aside-container">
			<div class="aside-content">
				<div class="container">
					<div class="row">
						<div class="span12">
							<div class="aside-title">
								<span>Latest Posts</span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="span4">
							<div class="recent-post">
								<figure class="media recent-post-image">
									<img src="{{ STATIC_URL }}app/img/lazy_blog_thumb.png" data-original="{{ STATIC_URL }}app/demo/blog/tokyo.jpg" alt="">
									<a class="overlay" href="blog.html">
										<div class="post-icon">
											<i class="icon-link"></i>
										</div>
									</a>
								</figure>
								<div class="recent-post-text">
									<h3 class="title">Blog Title</h3>
									<ul class="meta">
										<li><i class="icon-calendar"></i> April 26, 2013</li>
										<li><i class="icon-chat"></i> 14 Comments</li>
									</ul>
									<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
									<a href="blog.html" class="btn btn-danger">Read More</a>
								</div>
							</div>
						</div>
						<div class="span4">
							<div class="recent-post">
								<figure class="media recent-post-image">
									<img src="{{ STATIC_URL }}app/img/lazy_blog_thumb.png" data-original="{{ STATIC_URL }}app/demo/blog/london.jpg" alt="">
									<a class="overlay" href="blog.html">
										<div class="post-icon">
											<i class="icon-film"></i>
										</div>
									</a>
								</figure>
								<div class="recent-post-text">
									<h3 class="title">Blog Title</h3>
									<ul class="meta">
										<li><i class="icon-calendar"></i> April 20, 2013</li>
										<li><i class="icon-chat"></i> 10 Comments</li>
									</ul>
									<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
									<a href="blog.html" class="btn btn-danger">Read More</a>
								</div>
							</div>
						</div>
						<div class="span4">
							<div class="recent-post">
								<figure class="media recent-post-image">
									<img src="{{ STATIC_URL }}app/img/lazy_blog_thumb.png" data-original="{{ STATIC_URL }}app/demo/blog/newyork.jpg" alt="">
									<a class="overlay" href="blog.html">
										<div class="post-icon">
											<i class="icon-quote"></i>
										</div>
									</a>
								</figure>
								<div class="recent-post-text">
									<h3 class="title">Blog Title</h3>
									<ul class="meta">
										<li><i class="icon-calendar"></i> March 26, 2013</li>
										<li><i class="icon-chat"></i> 3 Comments</li>
									</ul>
									<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
									<a href="blog.html" class="btn btn-danger">Read More</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</aside>
	<!-- End Aside Block -->


	<!-- Section Block (Pricing) -->
	<section id="pricing" class="section-block">
		<h1 class="section-title">Our Pricing. <small>See it Yourself, We're Affordable</small></h1>

		<div class="container">
			<div class="row">
				<div class="span12">
					<div class="pricing-tables four-tables">
						<!-- Pricing Table 1-4 -->
						<div class="pricing-table">
							<div class="table-header">
								<div class="name">Personal</div>
							</div>
							<div class="table-price">
								<div class="price">
									<span>$</span>99
								</div>
								<div class="price-description">
									per month
								</div>
							</div>
							<div class="table-features">
								<ul>
									<li>Fully Responsive Layout</li>
									<li>Retina Display Ready</li>
									<li>Clean and Professional Design</li>
									<li>W3C Compliant HTML5 &amp; CSS3</li>
									<li>Premium Plugins Included</li>
								</ul>
							</div>
							<div class="table-footer">
								<a href="#" class="btn btn-danger">Sign Up</a>
							</div>
						</div>
						<!-- End Pricing Table 1-4 -->

						<!-- Pricing Table 1-4 -->
						<div class="pricing-table featured">
							<div class="table-header">
								<div class="name">Small Business</div>
							</div>
							<div class="table-price">
								<div class="price">
									<span>$</span>299
								</div>
								<div class="price-description">
									per month
								</div>
							</div>
							<div class="table-features">
								<ul>
									<li>Fully Responsive Layout</li>
									<li>Retina Display Ready</li>
									<li>Clean and Professional Design</li>
									<li>W3C Compliant HTML5 &amp; CSS3</li>
									<li>Premium Plugins Included</li>
								</ul>
							</div>
							<div class="table-footer">
								<a href="#" class="btn btn-danger">Sign Up</a>
							</div>
						</div>
						<!-- End Pricing Table 1-4 -->

						<!-- Pricing Table 1-4 -->
						<div class="pricing-table">
							<div class="table-header">
								<div class="name">Professional</div>
							</div>
							<div class="table-price">
								<div class="price">
									<span>$</span>699
								</div>
								<div class="price-description">
									per month
								</div>
							</div>
							<div class="table-features">
								<ul>
									<li>Fully Responsive Layout</li>
									<li>Retina Display Ready</li>
									<li>Clean and Professional Design</li>
									<li>W3C Compliant HTML5 &amp; CSS3</li>
									<li>Premium Plugins Included</li>
								</ul>
							</div>
							<div class="table-footer">
								<a href="#" class="btn btn-danger">Sign Up</a>
							</div>
						</div>
						<!-- End Pricing Table 1-4 -->

						<!-- Pricing Table 1-4 -->
						<div class="pricing-table">
							<div class="table-header">
								<div class="name">Enterprise</div>
							</div>
							<div class="table-price">
								<div class="price">
									<span>$</span>1199
								</div>
								<div class="price-description">
									per month
								</div>
							</div>
							<div class="table-features">
								<ul>
									<li>Fully Responsive Layout</li>
									<li>Retina Display Ready</li>
									<li>Clean and Professional Design</li>
									<li>W3C Compliant HTML5 &amp; CSS3</li>
									<li>Premium Plugins Included</li>
								</ul>
							</div>
							<div class="table-footer">
								<a href="#" class="btn btn-danger">Sign Up</a>
							</div>
						</div>
						<!-- End Pricing Table 1-4 -->
					</div>

					<div class="separator"></div>

					<div class="pricing-tables three-tables">
						<!-- Pricing Table 1-3 -->
						<div class="pricing-table">
							<div class="table-header">
								<div class="name">Personal</div>
							</div>
							<div class="table-price">
								<div class="price">
									<span>$</span>99
								</div>
								<div class="price-description">
									per month
								</div>
							</div>
							<div class="table-features">
								<ul>
									<li>Fully Responsive Layout</li>
									<li>Retina Display Ready</li>
									<li>Clean and Professional Design</li>
									<li>W3C Compliant HTML5 &amp; CSS3</li>
									<li>Premium Plugins Included</li>
								</ul>
							</div>
							<div class="table-footer">
								<a href="#" class="btn btn-danger">Sign Up</a>
							</div>
						</div>
						<!-- End Pricing Table 1-3 -->

						<!-- Pricing Table 1-3 -->
						<div class="pricing-table featured">
							<div class="table-header">
								<div class="name">Professional</div>
							</div>
							<div class="table-price">
								<div class="price">
									<span>$</span>699
								</div>
								<div class="price-description">
									per month
								</div>
							</div>
							<div class="table-features">
								<ul>
									<li>Fully Responsive Layout</li>
									<li>Retina Display Ready</li>
									<li>Clean and Professional Design</li>
									<li>W3C Compliant HTML5 &amp; CSS3</li>
									<li>Premium Plugins Included</li>
								</ul>
							</div>
							<div class="table-footer">
								<a href="#" class="btn btn-danger">Sign Up</a>
							</div>
						</div>
						<!-- End Pricing Table 1-3 -->

						<!-- Pricing Table 1-3 -->
						<div class="pricing-table">
							<div class="table-header">
								<div class="name">Enterprise</div>
							</div>
							<div class="table-price">
								<div class="price">
									<span>$</span>1199
								</div>
								<div class="price-description">
									per month
								</div>
							</div>
							<div class="table-features">
								<ul>
									<li>Fully Responsive Layout</li>
									<li>Retina Display Ready</li>
									<li>Clean and Professional Design</li>
									<li>W3C Compliant HTML5 &amp; CSS3</li>
									<li>Premium Plugins Included</li>
								</ul>
							</div>
							<div class="table-footer">
								<a href="#" class="btn btn-danger">Sign Up</a>
							</div>
						</div>
						<!-- End Pricing Table 1-3 -->
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Section Block (Pricing) -->


	<!-- Aside Block -->
	<aside class="aside-block" data-background="{{ STATIC_URL }}app/demo/aside/manhattan.jpg">
		<div class="aside-overlay"></div>
		<div class="aside-container">
			<div class="aside-content">
				<div class="container">
					<div class="row">
						<div class="span12">
							<div class="tweet-box">
								<div class="tweet-icon"><i class="zocial-twitter"></i></div>
								<div class="tweets" data-twitter-username="envato" data-count="1"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</aside>
	<!-- End Aside Block -->


	<!-- Section Block (Contact) -->
	<section id="contact" class="section-block">
		<h1 class="section-title">Get in Touch. <small>Feel Free to Contact Us, We Don't Bite</small></h1>
		<div class="container">

			<!-- Contact Form -->
			<div class="row">
				<div class="span12">
					<form id="contact-form" method="post" action="php/contact/contact.php">
						<div class="controls controls-row row">
							<div class="span6">
								<input type="text" placeholder="Name" name="ContactForm[name]" class="input-block-level required">
							</div>
							<div class="span6">
								<input type="text" placeholder="Email" name="ContactForm[email]" class="input-block-level required email">
							</div>
						</div>
						<div class="controls controls-row row">
							<div class="span6">
								<input type="text" placeholder="URL" name="ContactForm[url]" class="input-block-level url">
							</div>
							<div class="span6">
								<input type="text" placeholder="Subject" name="ContactForm[subject]" class="input-block-level required">
							</div>
						</div>
						<div class="controls controls-row row">
							<div class="span6">
								<textarea placeholder="Message" name="ContactForm[message]" class="required input-block-level" rows="5"></textarea>
							</div>
							<div id="recaptcha" class="recaptcha-container span6" style="display: none;">
								<div class="recaptcha-controls">
									<div id="recaptcha_image" class="recaptcha-image"></div>
									<ul class="recaptcha-controls-list">
										<li class="recaptcha_reload"><a href="javascript:Recaptcha.reload()"><i class="icon-refresh"></i></a></li>
										<li class="recaptcha_only_if_image"><a href="javascript:Recaptcha.switch_type('audio')"><i class="icon-volume-down"></i></a></li>
										<li class="recaptcha_only_if_audio"><a href="javascript:Recaptcha.switch_type('image')"><i class="icon-picture"></i></a></li>
									</ul>
								</div>
								<input type="hidden" name="ContactForm[recaptcha]">
								<div class="recaptcha-input-holder">
									<input type="text" id="recaptcha_response_field" name="recaptcha_response_field" class="input-block-level required" placeholder="Type the words above">
								</div>
							</div>
						</div>
						<div class="form-actions">
							<button class="btn btn-primary" type="submit">Submit</button>
							<div class="ajax-loader"></div>
						</div>
					</form>
				</div>
			</div>
			<!-- End Contact Form -->

			<div class="separator"></div>

			<!-- Contact Map -->
			<div class="row">
				<div class="span3">
					<div class="sidebar">
						<div class="sidebar-block">
							<h3>Let's Meet Face to Face</h3>
							Feel free to meet us if you have anything to discuss. We always welcome you to come to our office.
						</div>
						<div class="sidebar-block">
							<h3>Our Location</h3>
							Avenue des Champs-Élysées<br>
							Paris, France<br>
							<a href="#">sales@leviate.fr</a>
						</div>
						<div class="sidebar-block">
							<h3>We're Social</h3>
							<ul class="inline-list">
								<li><a href="#"><i class="zocial-facebook"></i></a></li>
								<li><a href="#"><i class="zocial-twitter"></i></a></li>
								<li><a href="#"><i class="zocial-googleplus"></i></a></li>
								<li><a href="#"><i class="zocial-flickr"></i></a></li>
								<li><a href="#"><i class="zocial-rss"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="span9">
					<div class="google-maps" data-center-lat="48.874087" data-center-lng="2.296486" data-zoom="16" data-marker-lat="48.874087" data-marker-lng="2.296486"></div>
				</div>
			</div>
			<!-- End Contact Map -->
		</div>
	</section>
	<!-- End Section Block (Contact) -->

	<!-- Footer -->
	<footer class="footer">
		<div class="back-top"></div>

		<div class="footer-top">
			<div class="container">
				<div class="row">
					<div class="span4">
						<h4>About Leviate</h4>
						<p><strong>Leviate</strong> is a responsive HTML5 template featuring clean and retina ready design suitable for any studio, creative or personal use.</p>
						<p>Vestibulum luctus ipsum id quam euismod a malesuada sapien euismot. Vesti bulum ultricies elementum interdum.</p>
					</div>
					<div class="span4">
						<h4>Photo Stream</h4>
						<div class="flickr-stream" data-flickr-id="88444813@N08" data-limit="10"></div>
					</div>
					<div class="span4">
						<h4>Recent Tweets</h4>
						<div class="tweets" data-twitter-username="envato" data-count="1"></div>
					</div>
				</div>
			</div>
		</div>

		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<div class="span12">
						Copyright 2013. Leviate. All Rights Reserved.
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- End Footer -->

	<!-- jQuery & Bootstrap -->
	<script src="{{ STATIC_URL }}app/js/jquery-1.9.1.min.js"></script>
	<script src="{{ STATIC_URL }}app/js/bootstrap.min.js"></script>

	<!-- Plugins -->
	
	<script src="{{ STATIC_URL }}app/plugins/fitvids/jquery.fitvids.min.js"></script>
	<script src="{{ STATIC_URL }}app/plugins/isotope/jquery.isotope.min.js"></script>
	<script src="{{ STATIC_URL }}app/plugins/magnificpopup/jquery.magnific-popup.min.js"></script>

	<!-- Contact Form -->
	<script src="{{ STATIC_URL }}app/plugins/contactform/jquery.form.min.js"></script>
	<script src="{{ STATIC_URL }}app/plugins/contactform/jquery.validate.min.js"></script>
	<script src="{{ STATIC_URL }}app/js/recaptcha_ajax.js"></script>

	<!-- Maps, Tweets, Flickr -->
	<script src="{{ STATIC_URL }}app/plugins/map/gmap3.min.js"></script>
	<script src="{{ STATIC_URL }}app/plugins/jflickrfeed/jflickrfeed.min.js"></script>
	<script src="{{ STATIC_URL }}app/plugins/tweet/jquery.tweet.min.js"></script>

	<!-- Cycle Plugin -->
	<script src="{{ STATIC_URL }}app/plugins/cycle2/jquery.cycle2.min.js"></script>
	<script src="{{ STATIC_URL }}app/plugins/cycle2/jquery.cycle2.swipe.min.js"></script>

	<!-- Template Script -->
	<script src="{{ STATIC_URL }}app/js/leviate.plugins.js"></script>
	<script src="{{ STATIC_URL }}app/js/leviate.parallax.js"></script>
	<script src="{{ STATIC_URL }}app/js/leviate.js"></script>

</body>

</html>