/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  background-image: url('../img/pattern.png');
  background-repeat: repeat;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
.wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -50px;
}
.push, .footer {
  height: 50px;
}
.footer {
  background-color: #cccccc;
  opacity: 0.8;
}