<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->
<head>

    <!-- Basic Page Needs
        ================================================== -->
    <meta charset="utf-8">
    <title>SpringCandy</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas
        ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
        ================================================== -->
    <link rel="stylesheet" href="{{ STATIC_URL }}landing/css/base.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}landing/css/skeleton.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}landing/css/layout.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}landing/css/fwslider.css" media="all">
    <link rel="stylesheet" href="{{ STATIC_URL }}landing/css/swipebox.css" media="all">
    <link rel="stylesheet" href="{{ STATIC_URL }}landing/css/font-awesome.min.css" media="all">
    <link rel="stylesheet" href="{{ STATIC_URL }}landing/css/linecons.css" media="all">
    <link rel="stylesheet" href="{{ STATIC_URL }}landing/css/wizard.css" media="all">


    <!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

    <!-- Favicons
        ================================================== -->
    <link rel="shortcut icon" href="{{ STATIC_URL }}landing/images/favicon.ico">


    <!-- Scripts
        ================================================== -->

    <!-- jQuery Library -->
    <script src="{{ STATIC_URL }}landing/js/jquery-1.9.1.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}landing/js/jquery-ui.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}landing/js/jquery.isotope.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}landing/js/css3-mediaqueries.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}landing/js/fwslider.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}landing/js/retina.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}landing/js/jquery.twitter.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}landing/js/parallax.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}landing/js/jquery.swipebox.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}landing/js/ios-orientationchange-fix.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}landing/js/jquery.scrollTo.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}landing/js/jquery.nav.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}landing/js/jquery.dropdown.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}landing/js/jquery.sticky.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}landing/js/jquery.quovolver.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}landing/js/custom.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}landing/js/jquery.smartWizard-2.0.min.js" type="text/javascript"></script>


</head>
<body>
<!-- TOP HEADER BAR / Start
	=========================================== -->
<header>
    <nav>
        <!-- nav menu -->
        <ul class="clearfix">
            <li><img class='lg' src="{{ STATIC_URL }}landing/images/springpicnic.png" alt='SpringPicnic'></li>
        </ul>

        <a href="#" class="pull"><i class="icon-reorder"></i></a>
    </nav>
</header>

<div id="#punch" class="punch">
    <div class="contact-form">


        <form class="clearfix" action='/signup/'>


            <div class="eight columns">
                <p style="text-align: center;">
                    Thankyou <strong>{{ username }}</strong> for choosing to activate. <br/>
                    Please answer the following questions to continue using SPRING PICNIC.
                </p>
            </div>


            <div class="eight columns">

                <!--<div class="field user">
                    <input type="text" name="name" class="text" placeholder='desired username...' />
                </div> -->

                <!--<div class="field">
                    <label>Education</label>
                    <input type="text" name="education" class="text"
                           placeholder='The Highest Degree you have'/>
                </div>

                <div class="field">
                    <label>Interests</label>
                    <input type="text" name="username" class="text" placeholder='What do you do in your spare time?'/>
                </div>

                <div class="field">
                    <label>Date of Birth</label>
                    <input type="date" name="username" class="text" />
                </div>

                <div class="field">
                    <label>SampleField</label>
                    <input type="text" name="username" class="text" />
                </div>

                <div class="field">
                    <button id="send" class="send">Complete</button>
                    <br/>
                </div>-->

                <!-- Smart Wizard -->
                <div id="wizard" class="swMain">
                    <ul>
                        <li><a href="#step-1"></a></li>
                        <li><a href="#step-2"></a></li>
                        <li><a href="#step-3"></a></li>
                        <li><a href="#step-4"></a></li>
                        <li><a href="#step-5"></a></li>
                        <li><a href="#step-6"></a></li>
                    </ul>
                    <div id="step-1">
                        <div class="field">
                            <textarea name="education" class="text"
                                      placeholder='What are you currently doing or studying? [300 characters]'></textarea>
                        </div>
                    </div>
                    <div id="step-2">
                        <div class="field">
                            <textarea name="education" class="text"
                                      placeholder='What type of of professionals are you interested in meeting? [300 characters]'></textarea>
                        </div>
                    </div>
                    <div id="step-3">
                        <div class="field">
                            <textarea name="education" class="text"
                                      placeholder='What are some things you are interested in talking about? [300 characters]'></textarea>
                        </div>
                    </div>
                    <div id="step-4">
                        <div class="field">
                            <textarea name="education" class="text"
                                      placeholder='What type of things do you like to do for fun? [300 characters]'></textarea>
                        </div>
                    </div>
                    <div id='step-5'>
                        <div class="field">
                            <textarea name="education" class="text"
                                      placeholder='What are you good at? [300 characters]'></textarea>
                        </div>
                    </div>
                    <div id='step-6'>
                        <div class="field">
                            <label>Set Your Password</label>
                            <input type="password" name="p1" class="text"/>
                        </div>
                        <div class="field">
                            <label>Confirm your password</label>
                            <input type="password" name="p2" class="text"/>
                        </div>
                    </div>
                </div>
                <!-- End SmartWizard Content -->


            </div>

        </form>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        // Smart Wizard
        $('#wizard').smartWizard();

        function onFinishCallback() {
            $('#wizard').smartWizard('showMessage', 'Finish Clicked');
        }
    });
</script>

</body>