<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->
<head>

    <!-- Basic Page Needs
        ================================================== -->
    <meta charset="utf-8">
    <title>SpringCandy</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas
        ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
        ================================================== -->
    <link rel="stylesheet" href="{{ STATIC_URL }}landing/css/base.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}landing/css/skeleton.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}landing/css/layout.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}landing/css/fwslider.css" media="all">
    <link rel="stylesheet" href="{{ STATIC_URL }}landing/css/swipebox.css" media="all">
    <link rel="stylesheet" href="{{ STATIC_URL }}landing/css/font-awesome.min.css" media="all">
    <link rel="stylesheet" href="{{ STATIC_URL }}landing/css/linecons.css" media="all">


    <!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

    <!-- Favicons
        ================================================== -->
    <link rel="shortcut icon" href="{{ STATIC_URL }}landing/images/favicon.ico">


    <!-- Scripts
        ================================================== -->

    <!-- jQuery Library -->
    <script src="{{ STATIC_URL }}landing/js/jquery-1.9.1.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}landing/js/jquery-ui.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}landing/js/jquery.isotope.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}landing/js/css3-mediaqueries.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}landing/js/fwslider.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}landing/js/retina.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}landing/js/jquery.twitter.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}landing/js/parallax.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}landing/js/jquery.swipebox.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}landing/js/ios-orientationchange-fix.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}landing/js/jquery.scrollTo.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}landing/js/jquery.nav.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}landing/js/jquery.dropdown.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}landing/js/jquery.sticky.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}landing/js/jquery.quovolver.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}landing/js/custom.js" type="text/javascript"></script>


</head>
<body>
<div id="#punch" class="punch">
    <div class="contact-form">


        <form class="clearfix" action='/activate/' onsubmit='return validateForm()'>

            <div class='eight columns'>
                <img src="{{ STATIC_URL }}landing/images/springpicnic.png">
            </div>

            <div class="eight columns">
                <p class='punch_text'>
                    MAKE NEW BUSINESS CONTACTS. MAKE NEW FRIENDS.
                </p>
            </div>


            <div class="eight columns">

                <!--<div class="field user">
                    <input type="text" name="name" class="text" placeholder='desired username...' />
                </div> -->

                <div class="field">
                    <input type="text" name="email" class="text"
                           placeholder='Email (only approved universities and companies)'/>
                </div>

                <div class="field">
                    <input type="text" name="username" class="text" placeholder='Desired Username'/>
                </div>

                <div class="field">
                    <button id="send" class="send">SIGNUP NOW</button>
                    <br/>
                </div>


            </div>

        </form>
    </div>
</div>


<!-- SLIDER / Start
	=========================================== -->
<div id="fwslider">
    <div class="slider_container">

        {% for image in images %}
            <div class="slide">
                <img src="{{ MEDIA_URL }}{{ image.image }}">
            </div>
        {% endfor %}

    </div>

    <!-- slider navigation -->
    <div class="timers"></div>
    <div class="slidePrev"><span><i class="icon-chevron-left "></i></span></div>
    <div class="slideNext"><span><i class="icon-chevron-right "></i></span></div>

</div>
<!-- SLIDER / End
	=========================================== -->

<!-- TOP HEADER BAR / Start
	=========================================== -->
<header>
    <nav>
        <!-- nav menu -->
        <ul class="clearfix">
            <li><a class="current" href="#fwslider">Home</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#portfolio">Portfolio</a></li>
            <li><a href="#pricing">Pricing</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>

        <a href="#" class="pull"><i class="icon-reorder"></i></a>
    </nav>
</header>
<!-- TOP HEADER BAR / End
	=========================================== -->

<!-- SERVICES / Start
=========================================== -->

<!-- Footer / End
	================================================== -->
<script>
    var animateSpeed=300;

    var errorClass = function(field, check) {
        if (!check) {
            field.addClass('validation-error',animateSpeed);
            return false;
        }
		else {
            field.removeClass('validation-error',animateSpeed);
            return true;
        }
    }

    var validateEmail = function (email, valid_domains) {
        var domain = email.val().replace(/.*@/, "");
        var i = valid_domains.length;
        var check = false;
        while (i--) {
            if (valid_domains[i].domain == domain) {
                check = true;
                break;
            }
        };
        errorClass(email, check);
        return check;
    };

    var validateUsername = function(username, existing_usernames) {
        var i = existing_usernames.length;
        var check = true;
        while (i--)  {
            if (existing_usernames[i].username == username.val()) {
                check = false;
                break;
            };
        }
        errorClass(username, check);
        return check;
    }

    var validateForm = function () {
        var is_valid_email = validateEmail($('input[name=email]'), valid_domains);
        var is_valid_username = validateUsername($('input[name=username]'), existing_usernames);
        console.log(is_valid_email);
        console.log(is_valid_username);
        if (is_valid_username && is_valid_email) {
            return true;
        } else {
            return false;
        }
    }

    var valid_domains = null;
    var existing_usernames = null

    $(document).ready(function () {
        $.get('/api/generics/allowed-domains/', function (data) {
            valid_domains = data;
        });
        $.get('/api/generics/user/', function (data) {
            existing_usernames = data;
        })
    })

    $('input[name=email]').blur(function(){validateEmail($(this), valid_domains); });
    $('input[name=username]').blur(function(){validateUsername($(this), existing_usernames); });
</script>
<!-- End Document
	================================================== -->
</body>
</html>