<!DOCTYPE html>
<html>
<head>
    <title>Thankyou for registering</title>
</head>
<body>
<h1>THANKYOU! and check your email!</h1>
{{ username }} // {{ email }} // {{ activation_code }}
</body>
</html>