<html ng-app="app">
<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- @font-face fonts -->
    <link rel="stylesheet" href="{{ STATIC_URL }}dashboard/fonts/nexa/stylesheet.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700' rel='stylesheet'
          type='text/css'>
    <link rel="stylesheet" href="{{ STATIC_URL }}dashboard/css/font-awesome.min.css">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{ STATIC_URL }}dashboard/css/bootstrap.css">

    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="{{ STATIC_URL }}dashboard/css/style.css">

    <!-- Sticky Footer Style Sheet -->
    <link rel="stylesheet" href="{{ STATIC_URL }}dashboard/css/sticky.css">

    <!-- Plugin Stylesheet -->
    <link rel="stylesheet" href="{{ STATIC_URL }}dashboard/plugins/magnificpopup/jquery.magnific-popup.css">

    <!-- Javascript Library -->
    <script type="text/javascript" src="{{ STATIC_URL }}dashboard/js/jquery-1.9.1.min.js"></script>

    <!-- Angular Javascript Library -->
    <script type="text/javascript" src="{{ STATIC_URL }}ng/lib/angular.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}ng/lib/angular-resource.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}ng/lib/angular-cookies.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}ng/lib/ui.bootstrap.tlps.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}ng/lib/ng-upload.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}ng/app.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}ng/services.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}ng/controllers.js"></script>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <title>Spring Picnic</title>

</head>

<body>
<!-- start wrap -->
<div class='wrap'>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="brand" href="#"><img src="{{ STATIC_URL }}dashboard/img/splogo.png" width="200"></a>

                {% comment %}<div class='submenu'>
                    <ul>
                        <li class='active'>
                            <a href="#">All</a>
                        </li>
                        <li>
                            <a href="#">Following</a>
                        </li>
                        <li>
                            <a href="#">Networking</a>
                        </li>
                        <li>
                            <a href="#">Fun</a>
                        </li>
                    </ul>
                </div>{% endcomment %}

                <div class="filter-box not-opaque" ng-show="showHomeMenu()">
                    <a href="#" class="btn btn-large btn-purple disabled">All</a>
                    <a href="#" class="btn btn-large disabled">Follwing</a>
                    <a href="#" class="btn btn-large disabled">Networking</a>
                    <a href="#" class="btn btn-large disabled">Fun</a>
                </div>

                <div class="nav-collapse collapse">
                    <ul class="nav pull-right" id='top-nav' style='margin-top: 6px;'>
                        <li>
                            <a href="#/messages/">
                                <i class='icon-envelope icon-2x'></i>
                            </a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="icon-gear icon-2x"></i>
                            </a>
                            <ul class="dropdown-menu pull-right message-ul">
                                <li>
                                    <a href="#/profile/">Edit Profile</a>
                                </li>
                                <li>
                                    <a href="#">Logout</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
    </div>
    <!-- end top navigation -->
    <!-- begin main content -->
    <div ng-view>

    </div>
    <!-- end main content -->
</div>

<!-- Footer -->
<footer class="footer" ng-show="showHomeMenu()">
    <div class="container-fluid">
        <div class="row-fluid" style='margin-top:5px;'>
            <div class='span19' ng-controller="PostFeedCtrl">
                <div class='row-fluid'>
                    <form ng-submit="postFeed()">
                    <div class="input-prepend span24">
                        <span class="add-on">Let's go</span>
                        <input class='span21' id="prependedInput" type="text" ng-model="feedText"
                               placeholder="type your activity idea here and press enter">
                    </div>
                        <input type="submit" style="display: none">
                    </form>
                </div>
            </div>
            <div class='span5'>
                <div class='row-fluid'>
                    <div class='span24 pull-right'>
                        <a href="#" class="btn btn-large btn-purple disabled">Networking</a>
                        <a href="#" class="btn btn-large disabled">Fun</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->

<!-- jQuery & Bootstrap -->
<script src="{{ STATIC_URL }}dashboard/js/jquery-1.9.1.min.js"></script>
<script src="{{ STATIC_URL }}dashboard/js/bootstrap.min.js"></script>

<!-- Plugins -->

<script src="{{ STATIC_URL }}dashboard/plugins/fitvids/jquery.fitvids.min.js"></script>
<script src="{{ STATIC_URL }}dashboard/plugins/isotope/jquery.isotope.min.js"></script>
<script src="{{ STATIC_URL }}dashboard/plugins/magnificpopup/jquery.magnific-popup.min.js"></script>

<!-- Contact Form -->
<script src="{{ STATIC_URL }}dashboard/plugins/contactform/jquery.form.min.js"></script>
<script src="{{ STATIC_URL }}dashboard/plugins/contactform/jquery.validate.min.js"></script>

<!-- Maps, Tweets, Flickr -->
<script src="{{ STATIC_URL }}dashboard/plugins/map/gmap3.min.js"></script>
<script src="{{ STATIC_URL }}dashboard/plugins/jflickrfeed/jflickrfeed.min.js"></script>
<script src="{{ STATIC_URL }}dashboard/plugins/tweet/jquery.tweet.min.js"></script>

<!-- Cycle Plugin -->
<script src="{{ STATIC_URL }}dashboard/plugins/cycle2/jquery.cycle2.min.js"></script>
<script src="{{ STATIC_URL }}dashboard/plugins/cycle2/jquery.cycle2.swipe.min.js"></script>

<!-- Template Script -->
<!--<script src="{{ STATIC_URL }}dashboard/js/leviate.plugins.js"></script>-->
<script src="{{ STATIC_URL }}dashboard/js/leviate.parallax.js"></script>
<script src="{{ STATIC_URL }}dashboard/js/leviate.js"></script>
<script src="{{ STATIC_URL }}dashboard/js/script.js"></script>

</body>

</html>